@charset "UTF-8";
body {
    margin:0;
    padding:0;
    font-family: "Dotum", Arial,serif;
    font-size: 1em;
    color: #666;
    background-color: #FFF;
    background-color: #FFF; 
    background-repeat: repeat-x; 
    background-position: top; 

}

img {border:none;}
a {text-decoration: none;color: #666;}
a:hover {color: #F60;text-decoration: none;}

header {
    margin-top:20px;
 }


header #logo {
        margin-left:0px;
        float:left;
        padding-right:175px;
}

header #head_link {
            float:right;
            font-size:0.75em;
}


header #head_link ul {
    list-style:none; /* 리스트 스타일 제거 */
}
            
header #head_link li {
    float:left; 
    padding:0 8px; 
    border-right:1px solid #999; 
}   

header #search .main_input {
	float: left;
	margin-right:0px;
	width:325px;
	outline: none;
	padding-right:20%;
    }
    header #search .btn1 {
    background-color:rgb(1, 1, 2); 
    border:solid 1px rgb(1, 1, 2); 
    color: #FFF; 
    height:28px; 
    width:15px; 
    margin-left:2px;
    outline: none;
    float:right;
    } 

#wrap {
    width:995px;
    margin:0 auto;
    padding:0;
}

#bar{
	list-style:none;
	float: left;
	width: 100%;
	line-height:10px;
	text-align:center;
	background:#DC143C;


}



 